* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato', sans-serif;
}

.flex_header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.header {
    background-color: #222;
    min-width: 1140px;
    height: 75px;
}

.left_block {
    width: 111px;
    height: 75px;
    padding-block: 18px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.right_block {
    width: 168px;
    height: 75px;
    padding-block: 18px;
    display: flex;
    position: relative;
    align-items: end;
    justify-content: space-between;
}

.mega_box {
    width: 232px;
    background-color: #fff;
    position: absolute;
    top: 75px;
    left: 169px;
    height: 764px;
    padding: 37px 0 0 34px;
    box-shadow: 0 0 33px rgba(0, 0, 0, 0.32);
    visibility: hidden;
}

.mega_heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
    color: #F16D7F;
}

.mega_link {
    display: block;
    font-size: 14px;
    Line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    color: #646464;
    padding-left: 20px;
    text-decoration: none;
}

.mega_link:hover {
    color: #F16D7F;
}

.close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    color: #6F6E6E;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.top {
    height: 764px;
    background-color: #F1E4E6;
    min-width: 1140px;
}

.flex_top {
    display: flex;
}

.flex_top>img {
    margin: 0 0 0 -210px;
}

.rectangle {
    height: 92px;
    width: 12px;
    background-color: #F16D7F;
    margin: 0 16px 0 0;
}

.top_info {
    display: flex;
    padding-top: 290px;
}

.info {
    height: 93px;
    color: #222222;
}

.span0_top {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.span1_top {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.span2_top {
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #F16D7F;
}

.for_woman {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.for_men {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.for_kids {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accesories {
    width: 1140px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accesories>img {
    width: 100%;
    height: 100%;
}

.for_woman>img {
    width: 100%;
    height: 100%;
}

.for_men>img {
    width: 100%;
    height: 100%;
}

.for_kids>img {
    width: 100%;
    height: 100%;
}

.offer {
    height: 470px;

}

.offer_top {
    display: flex;
    justify-content: space-between;
    margin-block: 65px 30px;
}

.offer_img {
    position: relative;
}

.offer_p {
    position: absolute;
}

.offer_span1 {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.offer_span2 {
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;
}

.item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
    width: 100%;
}

.item:hover .item-pic {
    filter: brightness(50%);
}

.add {
    display: flex;
    padding: 8px;
    border: 1px solid #fff;
    align-items: center;
    text-decoration: none;
    pointer-events: all;
}

.add-desc {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #fff;
    margin-left: 10px;
}

.add-box {
    display: none;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 200px;
    pointer-events: none;
}

.add:hover {
    box-shadow: 0px 0px 10px 0px #fff;
}

.item:hover .add-box {
    display: flex;
}


.item-heading {
    text-align: center;
    margin-block: 96px 48px;
}

.item-heading>h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222;
}

.item-heading>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #9F9F9F;

}

.item {
    width: 360px;
    position: relative;
    background-color: #F8F8F8;
    margin-bottom: 30px;
}

.item-link {
    display: block;
    text-decoration: none;
}

.item-desc {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #000;
}

.item-text {
    color: #5D5D5D;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-block: 12px 18px;
}

.item-price {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F16D7F;
}

.text-box {
    padding: 25px 28px 20px 18px;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.browse_button {
    width: 211px;
    height: 47px;
    border: 1px solid #F16D7F;
    color: #F16D7F;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 49px;
}

.browse_button:hover {
    color: #fff;
    background-color: #F16D7F;
}

.bba {
    text-decoration: none;
}

.delivery {
    height: 341px;
    background-color: #222224;
    margin-top: 95px;
    color: #FBFBFB;
}

.delivery_info>h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-block: 28px 16px;
}

.delivery_info>p {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    width: 360px;
    text-align: center;
}

.delivery_text {
    display: flex;
    height: 342px;
}

.delivery_info {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

figure>p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.subscribe>img {
    width: 100%;
    height: 448px;
    position: absolute;
}

.subscribe>.container {
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    text-align: center;
}

.footer_figure>img {
    margin-bottom: 44px;
}

.form_subscribe {
    color: #222;
    position: relative;
    width: 557px;
    text-align: center;
}

.subscribe_input {
    padding: 18px 64px 18px 22px;
    border-radius: 49px 0 0 49px;
    border: 0;
    background-color: #E1E1E1;
    color: #222224;
}

form>p {
    padding-bottom: 32px;
}

.subscribe_button {
    padding: 18px;
    border: 0;
    margin: -4px;
    border-radius: 0 49px 49px 0;
    background-color: #E05C6E;
    color: #fff;
}

.subscribe_button:hover {
    color: #F16D7F;
    background-color: #fff;
    border: 1px solid #F16D7F;
}

.copyright {
    background-color: #222224;
    height: 79px;
    align-items: center;
    display: flex;
}

.copyright>.container {
    align-items: center;
}

.copyright>.container {
    display: flex;
    justify-content: space-between;
}

.copyr {
    color: #FBFBFB;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.social {
    width: 147px;
}

.social>ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.fa-brands {
    font-size: 32px;
    color: #fff;
    background-color: #222224;
}

.fa-brands:hover {
    color: #F16D7F;
    background-color: #fff;
}

@media (max-width: 768px) {
    .container {
        width: 735px;
    }

    .header {
        min-width: 768px;
    }

    .top {
        min-width: 768px;
        height: 367px;
    }

    .offer {
        height: auto;
    }

    .flex_top>img {
        width: 386px;
        height: 368px;
        margin: 0;
    }

    .top_info {
        padding-top: 138px;
    }

    .span0_top {
        font-size: 44px;
        line-height: 53px;
    }

    .span1_top,
    .span2_top {
        font-size: 24px;
        line-height: 29px;
    }

    .for_woman,
    .for_men,
    .for_kids {
        width: 232px;
        height: 168px;
    }

    .offer_top {
        margin-block: 20px;
    }

    .accesories {
        width: 735px;
        height: 116px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 343px;
    }

    .img_inv {
        display: none;
    }

    .header {
        min-width: 375px;
    }

    .right_block {
        width: auto;
    }

    .top {
        min-width: 343px;
    }

    .flex_top>img {
        display: none;
    }

    .rectangle {
        height: 61px;
    }

    .top_info {
        padding-top: 148px;
        margin-left: 40px;
    }

    .span0_top {
        font-size: 38px;
        line-height: 46px;
    }

    .span1_top,
    .span2_top {
        font-size: 20px;
        line-height: 24px;
    }

    .offer_top {
        display: flex;
        flex-direction: column;
    }

    .for_woman,
    .for_men,
    .for_kids {
        width: auto;
        height: 247px;
    }

    .offer {
        height: auto;
    }

    .for_men,
    .accesories {
        margin-block: 32px;
    }

    .accesories {
        width: auto;
        height: 111px;
    }
}

/*Product page*/

.breadcrumb {
    height: 148px;
    background-color: #F8F3F4;
}

.breadcrumb>.container {
    display: flex;
    justify-content: space-between;
    line-height: 148px;
}

.container>h1 {
    font-weight: 400;
    font-size: 24px;
    color: #F16D7F;
}


.crumb_home,
.crumb_men,
span {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #636363;
}

.crumb_arrivals {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #F16D7F;
}

.crumb_men:hover,
.crumb_home:hover {
    color: #000;
}

.main_content {
    background-color: #F7F7F7;
}

.main_content>.container {
    height: 777px;
    display: flex;
    justify-content: center;
}

.main_photo {
    position: absolute;
}

.section_container {
    height: 601px;
    border: 1px solid #EAEAEA;
    margin-top: -50px;
    background-color: #fff;
}

.section_topinfo {
    border-bottom: 1px solid #EAEAEA;
    width: 641px;
    margin: 0 auto;
    text-align: center;
    padding-block: 65px;
}

.hor_rec {
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
    display: inline-flex;
    margin-block: 12px;
}

.section_topinfo>h3 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.section_topinfo>h2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.section_topinfo>p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    margin-block: 48px 32px;
}

.section_topinfo>span {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;

}

.section_bottominfo {
    text-align: center;
    width: 418px;
    margin: 0 auto;
    padding-block: 65px;
}

.bottominfo {
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.bottombutton {
    padding: 14px 56px 14px 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: transparent;
    border: 1px solid #F26376;
    margin-top: 48px;
}

.bottombutton:hover {
    background-color: #fff;
    color: #F26376;
}

.fa-cart-shopping {
    margin-right: 23px;
    color: #EF5B70;
    font-size: 24px;
    padding-bottom: 8px;
}

.item-sec-product {
    margin-block: 130px;
}