@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  font-family: "Lato", sans-serif;
}

.flex_header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  background-color: #222;
  min-width: 1140px;
  height: 75px;
}

.left_block {
  width: 111px;
  height: 75px;
  padding-block: 18px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.right_block {
  width: 168px;
  height: 75px;
  padding-block: 18px;
  display: flex;
  position: relative;
  align-items: end;
  justify-content: space-between;
}

.mega_box {
  width: 232px;
  background-color: #fff;
  position: absolute;
  top: 75px;
  left: 169px;
  height: 764px;
  padding: 37px 0 0 34px;
  box-shadow: 0 0 33px rgba(0, 0, 0, 0.32);
  visibility: hidden;
}

.mega_heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px;
  color: #f16d7f;
}

.mega_link {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  color: #646464;
  padding-left: 20px;
  text-decoration: none;
}

.mega_link:hover {
  color: #f16d7f;
}

.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  color: #6f6e6e;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.top {
  height: 764px;
  background-color: #f1e4e6;
  min-width: 1140px;
}

.flex_top {
  display: flex;
}

.flex_top > img {
  margin: 0 0 0 -210px;
}

.rectangle {
  height: 92px;
  width: 12px;
  background-color: #f16d7f;
  margin: 0 16px 0 0;
}

.top_info {
  display: flex;
  padding-top: 290px;
}

.info {
  height: 93px;
  color: #222222;
}

.span0_top {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.span1_top {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.span2_top {
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  color: #f16d7f;
}

.for_woman {
  width: 360px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.for_men {
  width: 360px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.for_kids {
  width: 360px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accesories {
  width: 1140px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accesories > img {
  width: 100%;
  height: 100%;
}

.for_woman > img {
  width: 100%;
  height: 100%;
}

.for_men > img {
  width: 100%;
  height: 100%;
}

.for_kids > img {
  width: 100%;
  height: 100%;
}

.offer {
  height: 470px;
}

.offer_top {
  display: flex;
  justify-content: space-between;
  margin-block: 65px 30px;
}

.offer_img {
  position: relative;
}

.offer_p {
  position: absolute;
}

.offer_span1 {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.offer_span2 {
  font-size: 24px;
  line-height: 28px;
  color: #f16d7f;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
  width: 100%;
}

.item:hover .item-pic {
  filter: brightness(50%);
}

.add {
  display: flex;
  padding: 8px;
  border: 1px solid #fff;
  align-items: center;
  text-decoration: none;
  pointer-events: all;
}

.add-desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #fff;
  margin-left: 10px;
}

.add-box {
  display: none;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 200px;
  pointer-events: none;
}

.add:hover {
  box-shadow: 0px 0px 10px 0px #fff;
}

.item:hover .add-box {
  display: flex;
}

.item-heading {
  text-align: center;
  margin-block: 96px 48px;
}

.item-heading > h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222;
}

.item-heading > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #9f9f9f;
}

.item {
  width: 360px;
  position: relative;
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.item-link {
  display: block;
  text-decoration: none;
}

.item-desc {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000;
}

.item-text {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-block: 12px 18px;
}

.item-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}

.text-box {
  padding: 25px 28px 20px 18px;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.browse_button {
  width: 211px;
  height: 47px;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 49px;
}

.browse_button:hover {
  color: #fff;
  background-color: #f16d7f;
}

.bba {
  text-decoration: none;
}

.delivery {
  height: 341px;
  background-color: #222224;
  margin-top: 95px;
  color: #fbfbfb;
}

.delivery_info > h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-block: 28px 16px;
}

.delivery_info > p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  width: 360px;
  text-align: center;
}

.delivery_text {
  display: flex;
  height: 342px;
}

.delivery_info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.delivery_info:hover {
  transform: translate(0, -20px);
}

figure > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.subscribe > img {
  width: 100%;
  height: 448px;
  position: absolute;
}

.subscribe > .container {
  height: 448px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  text-align: center;
}

.footer_figure > img {
  margin-bottom: 44px;
}

.form_subscribe {
  color: #222;
  position: relative;
  width: 557px;
  text-align: center;
}

.subscribe_input {
  padding: 18px 64px 18px 22px;
  border-radius: 49px 0 0 49px;
  border: 0;
  background-color: #e1e1e1;
  color: #222224;
}

form > p {
  padding-bottom: 32px;
}

.subscribe_button {
  padding: 18px;
  border: 0;
  margin: -4px;
  border-radius: 0 49px 49px 0;
  background-color: #e05c6e;
  color: #fff;
}

.subscribe_button:hover {
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
}

.copyright {
  background-color: #222224;
  height: 79px;
  align-items: center;
  display: flex;
}

.copyright > .container {
  align-items: center;
}

.copyright > .container {
  display: flex;
  justify-content: space-between;
}

.copyr {
  color: #fbfbfb;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.social {
  width: 147px;
}

.social > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.fa-brands {
  font-size: 32px;
  color: #fff;
  background-color: #222224;
}

.fa-brands:hover {
  color: #f16d7f;
  background-color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 735px;
  }
  .header {
    min-width: 768px;
  }
  .top {
    min-width: 768px;
    height: 367px;
  }
  .offer {
    height: auto;
  }
  .flex_top > img {
    width: 386px;
    height: 368px;
    margin: 0;
  }
  .top_info {
    padding-top: 138px;
  }
  .span0_top {
    font-size: 44px;
    line-height: 53px;
  }
  .span1_top,
.span2_top {
    font-size: 24px;
    line-height: 29px;
  }
  .for_woman,
.for_men,
.for_kids {
    width: 232px;
    height: 168px;
  }
  .offer_top {
    margin-block: 20px;
  }
  .accesories {
    width: 735px;
    height: 116px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 343px;
  }
  .img_inv {
    display: none;
  }
  .header {
    min-width: 375px;
  }
  .right_block {
    width: auto;
  }
  .top {
    min-width: 343px;
  }
  .flex_top > img {
    display: none;
  }
  .rectangle {
    height: 61px;
  }
  .top_info {
    padding-top: 148px;
    margin-left: 40px;
  }
  .span0_top {
    font-size: 38px;
    line-height: 46px;
  }
  .span1_top,
.span2_top {
    font-size: 20px;
    line-height: 24px;
  }
  .offer_top {
    display: flex;
    flex-direction: column;
  }
  .for_woman,
.for_men,
.for_kids {
    width: auto;
    height: 247px;
  }
  .offer {
    height: auto;
  }
  .for_men,
.accesories {
    margin-block: 32px;
  }
  .accesories {
    width: auto;
    height: 111px;
  }
}
/*Product page*/
.breadcrumb {
  height: 148px;
  background-color: #f8f3f4;
}

.breadcrumb > .container {
  display: flex;
  justify-content: space-between;
  line-height: 148px;
}

.container > h1 {
  font-weight: 400;
  font-size: 24px;
  color: #f16d7f;
}

.crumb_home,
.crumb_men,
span {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #636363;
}

.crumb_arrivals {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #f16d7f;
}

.crumb_men:hover,
.crumb_home:hover {
  color: #000;
}

.main_content {
  background-color: #f7f7f7;
}

.main_content > .container {
  height: 777px;
  display: flex;
  justify-content: center;
  position: relative;
}

.main_photo {
  position: absolute;
}

.section_container {
  height: 601px;
  border: 1px solid #eaeaea;
  margin-top: -50px;
  background-color: #fff;
}

.section_topinfo {
  border-bottom: 1px solid #eaeaea;
  width: 641px;
  margin: 0 auto;
  text-align: center;
  padding-block: 65px;
}

.hor_rec {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  display: inline-flex;
  margin-block: 12px;
}

.section_topinfo > h3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.section_topinfo > h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.section_topinfo > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  margin-block: 48px 32px;
}

.section_topinfo > span {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.section_bottominfo {
  text-align: center;
  width: 418px;
  margin: 0 auto;
  padding-block: 65px;
}

.bottominfo {
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.bottombutton {
  width: 211px;
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  background: transparent;
  border: 1px solid #f26376;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.bottombutton:hover {
  background-color: #f26376;
  color: #fff;
}

.fa-cart-shopping {
  margin-right: 23px;
  font-size: 21px;
}

.item-sec-product {
  margin-block: 130px;
}

.main_button1 {
  width: 47px;
  height: 47px;
  border: none;
  left: -183px;
  bottom: 365px;
  position: absolute;
  background-color: rgba(42, 42, 42, 0.15);
}

.fa-angle-left {
  font-size: 20px;
}

.main_button2 {
  width: 47px;
  height: 47px;
  border: none;
  right: -183px;
  bottom: 365px;
  position: absolute;
  background-color: rgba(42, 42, 42, 0.15);
}

/*Catalog page*/
.catalog_filter {
  display: flex;
  margin-block: 51px 64px;
}

.filter_box > a {
  display: flex;
}

.sort_box {
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  width: 296px;
}

.sort_box > span {
  cursor: pointer;
}

.img_filter,
.fa-angle-down {
  margin-left: 10px;
}

.filter_mega_item {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 11px 11px;
}

.filter_mega_box {
  display: none;
  width: 360px;
  box-shadow: 0 0 33px rgba(0, 0, 0, 0.2);
  padding: 13px 16px 16px 16px;
}

.filter_mega_item1 {
  display: none;
  flex-direction: column;
  padding: 0px 0px 11px 11px;
}

.filter_mega_item2 {
  display: none;
  flex-direction: column;
  padding: 24px 0px 11px 11px;
}

#box_function {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

#link_item {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  display: block;
}

#link_item > img {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

#box_function > img {
  margin-left: 10px;
}

#item_function {
  width: 327px;
  height: 37px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  color: #6f6e6e;
  border-bottom: 1px solid #ebebeb;
}

.item_rec {
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  margin-right: 11px;
}

.filter_mega_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #6f6e6e;
}

.filter_mega_link:hover {
  color: #ef5b70;
}

#item_function:hover {
  color: #ef5b70;
  background-color: rgb(248, 248, 248);
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "▶";
  padding-right: 0.5em;
}

details[open] > summary::after {
  content: "▼";
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 283px;
  height: 43px;
  border: 1px solid #ebebeb;
  line-height: 43px;
  letter-spacing: 11px;
  color: #c4c4c4;
}

.pagination:hover {
  border: 1px solid #d0d0d0;
}

.nav_pagination > .container {
  display: flex;
  justify-content: center;
}

.li_pagination > a {
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
}

.li_pagination > a:hover {
  color: #ef5b70;
}

.link_pag {
  letter-spacing: 5px;
}

#card_box_second {
  display: none;
}

/*Cart page*/
.cart {
  margin-bottom: 128px;
}

.cart > .container {
  display: flex;
}

.item_desc {
  width: 390px;
  position: relative;
  padding: 22px 22px 62px 32px;
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  color: #575757;
}

.item_desc > h3 {
  margin-bottom: 42px;
  font-weight: 400;
  line-height: 29px;
  font-size: 24px;
  color: #222222;
}

.usd-span {
  color: #ef5b70;
  font-size: 22px;
}

.list_item_bottom {
  margin-block: 40px 72px;
}

.list_item {
  width: 652px;
  height: 306px;
  background-color: #fff;
  display: flex;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.list_item > img {
  height: 100%;
}

.select {
  display: flex;
  border-radius: 5px;
  width: 117px;
  height: 26px;
  margin-block: 6px;
}

.select > select {
  width: 100%;
  height: 22px;
  background: transparent;
  border: 0;
  font-weight: 400;
  line-height: 26px;
  font-size: 17px;
  color: #6f6e6e;
}

#number {
  width: 44px;
}

.fa-xmark {
  position: absolute;
  top: 28px;
  right: 22px;
  color: #575757;
}

.breadcrumb_cart {
  margin-bottom: 105px;
}

.a_cart_button {
  display: flex;
  justify-content: space-between;
  width: 652px;
}

.a_cart_button > a {
  padding: 16px 40px;
  background: transparent;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  line-height: 17px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  transition-duration: 0.3s;
}

.a_cart_button > a:hover {
  background-color: #a4a4a4;
  color: #fff;
}

.purchase {
  width: 360px;
  height: auto;
  margin-left: 129px;
}

.purchase_form > input {
  width: 100%;
  height: 44px;
  font-weight: 300;
  line-height: 16px;
  font-size: 13px;
  color: #b1b1b1;
  border: 1px solid #a4a4a4;
  padding-left: 17px;
}

.purchase_form > h2,
.purchase_form > input {
  margin-bottom: 20px;
}

.purchase_form > button {
  background: transparent;
  border: 1px solid #a4a4a4;
  padding: 10px 15px;
  font-weight: 300;
  line-height: 13px;
  font-size: 11px;
  color: #4a4a4a;
  cursor: pointer;
  transition-duration: 0.3s;
}

.purchase_form > button:hover {
  background-color: #a4a4a4;
  color: #fff;
}

.checkout {
  background-color: #f5f3f3;
  height: 214px;
  padding: 40px;
  text-align: center;
  margin-top: 57px;
}

.checkout_sum {
  width: 275px;
  border-bottom: 1px solid #e2e2e2;
  text-align: end;
}

.checkout_sum > p {
  font-weight: 400;
  line-height: 13px;
  font-size: 11px;
  color: #4a4a4a;
}

.checkout_sum > h3 {
  font-weight: 300;
  line-height: 19px;
  font-size: 16px;
  color: #222222;
  margin-block: 12px 21px;
}

.sum_usd {
  color: #f16d7f;
  font-size: 16px;
}

.checkout_proceed {
  height: 50px;
  width: 100%;
  display: block;
  background-color: #f16d7f;
  font-weight: 300;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  margin-top: 17px;
  border: 1px solid #f16d7f;
  transition-duration: 0.3s;
}

.checkout_proceed:hover {
  background-color: #fff;
  color: #f16d7f;
}

/*Registration page*/
.regist {
  margin-bottom: 96px;
}

.regist_form {
  width: 360px;
  height: auto;
}

.container_regist {
  display: flex;
  justify-content: space-between;
}

.perks {
  width: 652px;
}

.perks > h2,
.perks > h3,
.perks > ul {
  font-weight: 300;
  line-height: 29px;
  font-size: 24px;
  color: #000000;
}

.perks > h3 {
  margin-block: 22px;
}

.perks_ul > li {
  line-height: 35px;
}

.fa-check {
  margin-right: 23px;
}

.regist_form > h3 {
  font-weight: 300;
  line-height: 19px;
  font-size: 16px;
  color: #222222;
  margin-bottom: 20px;
}

.radio {
  margin-block: 34px;
}

.form_radio_right {
  margin-left: 20px;
}

.form_input {
  width: 100%;
  height: 45px;
  padding-left: 17px;
  margin-bottom: 20px;
  border: 1px solid #a4a4a4;
}

.span_check {
  font-weight: 300;
  line-height: 13px;
  font-size: 11px;
  color: #000000;
}

.regist_form > p {
  font-weight: 300;
  line-height: 16px;
  font-size: 13px;
  color: #b1b1b1;
}

.regist_form > button {
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.regist_form > button:hover {
  background: transparent;
  color: #f16d7f;
}

.fa-arrow-right-long {
  margin-left: 20px;
}

.breadcrumb_regist {
  margin-bottom: 64px;
}/*# sourceMappingURL=style.css.map */